<!DOCTYPE html>
<html>

<head>
    <title>Share Post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Post sharing</h1>
    <p>Please Wait .....</p>
</body>

</html>

<script>
    window.onload = function () {

        var AppURL = "myUniqueScheme://myapp";
        var DownloadURL = "http://myapp.com/download";

        if(navigator.userAgent.match(/Android/) || navigator.userAgent.match(/Chrome/)) {
            window.location.href = "intent://myapp/#Intent;scheme=myUniqueScheme;package=com.app2tigersllc;id=<%= id %>;end";
            setTimeout(function () {
                var userAgent = navigator.userAgent || navigator.vendor || window.opera;
                if(/android/i.test(userAgent)) {
                    window.location.href = "market://details?id=com.app2tigersllc&hl=en";
                } else {
                    window.location.href = "https://play.app.goo.gl/?link=https://play.google.com/store/apps/details?id=com.app2tigersllc";
                }

            }, 2000);
        }
        window.location.href = "selamApp://selamdir.info/<%= id %>";
        if(window.navigator.userAgent.indexOf('iPhone') != -1) {
            window.location.href = "selamApp://selamdir.info/<%= id %>";
            if(window.navigator.standalone == true) {
                window.location = "com.alex.selamApp://<%= id %>";
            } else {
                //  document.write("please save this to your home screen");
            };
        } else {
            window.location.href = "https://play.app.goo.gl/?link=https://play.google.com/store/apps/details?id=com.app2tigersllc";
        };
    }
</script>